body{
    background-image: url(../images/mixtape.png);
    background-size: cover;
    display: flex;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 5px;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}

.login-container{
    width: 350px;
    text-align: center;
}

.login-box {
    padding-top: 10px;
    margin: 10px;
}

form .form-group {
    margin-bottom: 15px;
}

form .form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 5px;
}

input[type="submit"] {
    width: 50px;
    padding: 10px; 
    margin-top: 10px; 
    background-color: rgb(12, 167, 12);
    color: white;
}

input[type="submit"]:hover {
    background-color: green;
}

nav{
    color: whitesmoke;
    padding: 15px;
    margin-top: 15px;
}

nav a:hover{
    color: rgb(207, 205, 205);
}

nav a:visited{
    color: palegreen;
}